:root {
    --accentColor: #4949e0;
    --backupColor: #0d0d7e;
    --primaryColor: #ffffff;
    --secondaryColor: #522e92;
    font-size: 1em;
}


.jumbo {
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.73), rgba(82,46,146, 0.62)), url(../img/bg.jpg);
    color: var(--primaryColor);
    margin: 0;
    padding-top: 10em;
    padding-bottom: 10em;
}

.getstarted{
    color: var(--secondaryColor);
}
