:root {
    --accentColor: #4949e0;
    --backupColor: #0d0d7e;
    --primaryColor: #ffffff;
    --secondaryColor: #522e92;
    font-size: 1em;
}

body {
}

.add {
    text-align: center;
    padding-bottom: 3em;
    color: var(--secondaryColor)
}

.train {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding-top: 4em;
    padding-bottom: 4em;
}

button{
    background-color: var(--secondaryColor);
    border: none;
    color: var(--primaryColor);
}