:root {
    --accentColor: #4949e0;
    --backupColor: #0d0d7e;
    --primaryColor: #ffffff;
    --secondaryColor: #522e92;
    font-size: 1em;
}

body {
}

button {
    background-color: white;
    border: 1px solid;
    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
}

button:hover {
    background-color: var(--secondaryColor);
    border: none;
    color: white;
}