@{
    ViewData["Title"] = "Home";
}
<link href="~/css/Index.css" rel="stylesheet" type="text/css">

<div class="text-center jumbo">
    <h3 class="">Welcome to AiAttended</h3>
    <p>Your AI Attendance Manager.</p>
    <p>Powered by Azure AI and ASP.NET Core.</p>
</div>

<div class="container p-5 getstarted">
    <h3 class="lead text-center pb-5">Get Started</h3>
    <div class="row">
        <div class="col-md-4 text-left">
            <h4>Add Person</h4>
            <p>Add a person with 5+ photos of different angles as a member of a class.</p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Train the Group</h4>
            <p>Retrain the model to recognize the new set of faces.</p>
        </div>
        <div class="col-md-4 text-right">
            <h4>Identify Faces</h4>
            <p>Upload a group image of all attendees to get the list of everyone in attendance.</p>
        </div>
    </div>
</div>
 