<?xml version="1.0"?>

<configuration>
  <configSections>
	  <section name="PANE.ErrorLog" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
	  <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="PrepaidRestAPI" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">Server=ADEBAYO;initial catalog=FCMB_upgrade;User ID=sa;Password=connect123</property>
			<property name="connection.isolation">ReadCommitted</property>
			<property name="adonet.batch_size">50</property>
			<property name="command_timeout">80</property>
			<property name="generate_statistics">true</property>
			<property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
			<property name="default_schema">dbo</property>
			<!--<property name="hbm2ddl.auto">update</property>-->
			<!-- HBM Mapping Files -->
			<mapping assembly="PANE.Framework"/>
			<mapping assembly="ViaCard.Base"/>
			<mapping assembly="CreditCardIssuance"/>
			<!--<mapping assembly="CMS.POS.Interface" /> -->
		</session-factory>
	</hibernate-configuration>
	<PANE.ErrorLog>
		<add key="ToEmail" value="tayorinde@paneinternational.com"/>
		<add key="DirectoryLog" value="C:\AppZone\Log\FCMB\Issuance\"/>
		<add key="Enabled" value="True"/>
		<add key="DebugMode" value="True"/>
		<add key="EnsureDataIsLogged" value="false"/>
		<add key="MaxLogFileSize" value="10485760"/>
		<add key="EnsurePCIDSSCompliance" value="True"/>
		<add key="CardPANLengths" value="16,19"/>
		<!--HINT.UFO: Process Review for On-Field Card Issuance-->
	</PANE.ErrorLog>
  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
